################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CakeshopUI/src/CakeshopUI/bin/Debug/net461
