<configuration>
  <configSections>
    <section name="loggly" type="Loggly.Config.LogglyAppConfig, Loggly.Config"/>
  </configSections>
  <loggly xmlns="Loggly" customerToken="6fc7d6fc-e813-4a30-97c8-5009358f1c61" applicationName="Cakeshop"/>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  
</configuration>
